/* Base styles */
body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
}

.button, .Select-control, .input, .label, .button-show, .button-hide {
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
}

/* Base styles for the links in the header container */
.title-link {
  font-size: 20px;
  padding: 10px;
}

/* Container for the input fields and buttons */
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-top: 10px
}

.label {
  margin-bottom: 5px;
}

.input {
  margin-bottom: 10px;
}

.button, .button-show {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 0;
}

#submit-val  {
  padding: 20px 10px;
  background-color: #6495ED;
  color: white;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#submit-val :hover {
  background-color: #7BA0F0;
}

/* Button styles when showing mathematics */
.button-show {
  padding: 20px 10px;
  background-color: #6495ED; /* Blue */
  color: white;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-show:hover {
  background-color: #7BA0F0; /* Lighter blue */
}

/* Button styles when hiding mathematics */
.button-hide {
  padding: 20px 10px;
  background-color: #5172A0; /* Darker blue */
  color: white;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-hide:hover {
  background-color: #5E82AB; /* Lighter shade of darker blue */
}

/* custom.css */
#loading-1 .dash-spinner {
    position: absolute;
    top: 0; /* Aligns the spinner to the top of the container */
    left: 50%; /* Centers the spinner horizontally */
    transform: translateX(-50%);
}

/* Adjustments for the graphs */
.graph-container, .above-graph-container {
  display: grid;
  width: 100%; /* Ensure the container takes the full width */
  margin-bottom: 20px;
}

/* Adjustments for the multi-graph container to include headers */
.multi-graph-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(500px, 1fr)); /* Default 3 columns */
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
  text-align: left; /* Centers the headers */
}

.above-graph-container {
  grid-template-columns: 1fr 1fr; /* Two columns for larger screens */
  gap: 20px;
}

.graph-container {
  grid-template-columns: 1fr; /* One column for the time graph */
  gap: 20px;
}

/* Responsive settings for graphs */
.graph-container .graph, .above-graph-container .multi-graph-container {
  width: 95%; /* Full width of their container */
  height: auto; /* Height will scale automatically */
}

.above-graph-container .graph {
    width: 80vw; /* Adjust the width to a suitable percentage of the viewport width */
}

/* Additional styles for the Markdown LaTeX display */
.markdown-latex-container {
  margin-top: 0; /* Space above the markdown */
  padding: 10px;
  background-color: #f8f8f8; /* Light grey background */
  border: 1px solid #ddd; /* Light grey border */
  overflow-x: auto; /* Allows scrolling if content is too wide */
  overflow-y: hidden; /* Hides vertical scrollbar */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 1400px) {
  /* Adjust for when the total width of the two graphs exceeds the screen width */
  .above-graph-container {
    grid-template-columns: 1fr; /* Stack the graphs on top of each other */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .title-link {
    font-size: 16px; /* Smaller font size for smaller screens */
    padding: 5px; /* Smaller padding for smaller screens */
  }
}

/* Additional responsive adjustment for very small screens */
@media (max-width: 480px) {
  .title-link {
    font-size: 14px; /* Even smaller font size for very small screens */
    padding: 2px; /* Even smaller padding for very small screens */
  }
}

/* Adjusts layout for smaller screens */
@media (max-width: 768px) {
  .instructions-image-container {
    flex-direction: column;
  }

  .instructions-column, .image-column {
    flex: none; /* This will allow them to take up full width */
    max-width: 100%; /* This ensures they don't overflow the parent container */
    margin: 0 auto; /* This centers them in the container */
  }
}

/* Use a media query for small screens to adjust graph layout */
@media (max-width: 768px) {
  .above-graph-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr); /* Optional: Adjust based on your design */
  }
}

@media (max-width: 480px) {
  .container {
    grid-template-columns: 1fr; /* Stack elements vertically on very small screens */
  }
}

/* Two columns layout with transposed content */
@media (max-width: 1250px) {
  .multi-graph-container {
    grid-template-columns: repeat(2, minmax(500px, 1fr)); /* Two columns */
    /* We need to ensure that the animations and phase portraits pair up */
  }
  /* Specific styles to transpose content */
  .graph-container {
    display: flex;
    flex-direction: column;
  }
}

/* Single column layout for very small screens */
@media (max-width: 768px) {
  .multi-graph-container {
    grid-template-columns: 1fr; /* One column */
  }
  /* Styles to stack the content as regular rows */
  .graph-container {
    flex-direction: column-reverse; /* Stacks phase portrait above the animation */
  }
}